<div class="box">
  <% url = @log.intake ? intakes_path : expenses_path %>
  <%= form_with(model: log, url: url, local: true, method: :post) do |form| %>
    <% if log.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(log.errors.count, "error") %> prohibited this log from being saved:</h2>

        <ul>
          <% log.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :calories, class: "label" %>
      <div class="control">
        <%= form.number_field :calories, class: "input" %>
      </div>
    </div>

    <div class="field">
      <%= form.label :date, class: "label" %>
      <div class="control">
        <%= form.datetime_select :date, class: "input" %>
      </div>
    </div>

    <div class="field">
      <%= form.label :description, class: "label" %>
      <div class="control">
        <%= form.text_field :description, class: "input" %>
      </div>
    </div>

    <% if @log.intake %>

      <div class="field">
        <%= form.label :protein, class: "label" %>
        <div class="control">
          <%= form.text_field :protein, class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= form.label :carb, class: "label" %>
        <div class="control">
          <%= form.text_field :carb, class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= form.label :fat, class: "label" %>
        <div class="control">
          <%= form.text_field :fat, class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= form.label :alcochol, class: "label" %>
        <div class="control">
          <%= form.text_field :alcochol, class: "input" %>
        </div>
      </div>

    <% end %>

    <div class="actions">
      <%= form.submit "Create Log", class: "button is-primary" %>
    </div>
  <% end %>
</div>