<p id="notice"><%= notice %></p>

<p>
  <strong>Calories:</strong>
  <%= @log.calories %>
</p>

<p>
  <strong>Intake:</strong>
  <%= @log.intake %>
</p>

<p>
  <strong>Date:</strong>
  <%= @log.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @log.description %>
</p>

<p>
  <strong>Protein:</strong>
  <%= @log.protein %>
</p>

<p>
  <strong>Carb:</strong>
  <%= @log.carb %>
</p>

<p>
  <strong>Fat:</strong>
  <%= @log.fat %>
</p>

<p>
  <strong>Alcochol:</strong>
  <%= @log.alcochol %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
